includes:
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-doctrine/rules.neon
    - vendor/phpstan/phpstan-symfony/extension.neon
parameters:
    excludes_analyse:
        - tests/bootstrap.php
    checkMissingIterableValueType: false
